@media all and (min-width: 1200px) {
    .items_block {
        height: 280px;
    }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
    .items_block {
        height: 300px;
    }
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .items_block {
        height: 320px;
    }
}
@media all and (min-width: 701px) and (max-width: 767px) {
    .items_block {
        height: 500px;
    }
}
@media all and (min-width: 650px) and (max-width: 700px) {
    .items_block {
        height: 460px;
    }
}
@media all and (min-width: 560px) and (max-width: 649px) {
    .items_block {
        height: 420px;
    }
}
@media all and (max-width: 400px) and (max-width: 559px) {
    .items_block {
        height: 350px;
    }
}
@media all and (max-width: 399px) {
    .items_block {
        height: 280px;
    }
}
.items_block, .items_vips{
    background: lightyellow;
    padding: 2px;
    margin: 2px;
    border: solid lightgoldenrodyellow 1px;
    border-radius: 2px;
}
.items_img{
    width: 100%;
}
.clerck_photo{
    width: 100%;
}
#clerk_name{
    font-size: 20px;
}
.accordeone_clerk{
    margin-top: 15px;
}