@media all and (min-width: 1200px) {
    .items_block, .items_vips {
        height: 280px;
    }
    .items_img {
        height: 160px;
    }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
    .items_block, .items_vips {
        height: 300px;
    }
    .items_img {
        height: 170px;
    }
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .items_block, .items_vips {
        height: 320px;
    }
    .items_img {
        height: 180px;
    }
}
@media all and (min-width: 701px) and (max-width: 767px) {
    .items_block, .items_vips {
        height: 500px;
    }
    .items_img {
        height: 285px;
    }
}
@media all and (min-width: 650px) and (max-width: 700px) {
    .items_block, .items_vips {
        height: 460px;
    }
    .items_img {
        height: 260px;
    }
}
@media all and (min-width: 560px) and (max-width: 649px) {
    .items_block, .items_vips {
        height: 420px;
    }
    .items_img {
        height: 240px;
    }
}
@media all and (min-width: 400px) and (max-width: 559px) {
    .items_block, .items_vips {
        height: 350px;
    }
    .items_img {
        height: 200px;
    }
}
@media all and (max-width: 399px) {
    .items_block, .items_vips {
        height: 280px;
    }
    .items_img {
        height: 160px;
    }
}
.items_block, .items_vips{
    background: lightyellow;
    padding: 2px;
    margin: 2px;
    border: solid lightgoldenrodyellow 1px;
    border-radius: 2px;
}
.items_img{
    width: 100%;
}
.clerck_photo{
    width: 100%;
}
#clerk_name{
    font-size: 20px;
}
.accordeone_clerk{
    margin-top: 15px;
}
#start-menu{
    margin-top: 50px;
    height: 50px;
    background-color: #d5d5d5;
    overflow: hidden;
}
ul.menu_start li{
    width: 170px;
    background-color: red;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
}
ul.menu_start{
    margin-left: 155px;
}

.wrap > .container {
    padding: 10px 15px 20px!important;
}
ul{
    padding-left: 0px;
}
