.color_menu{
    color: gray;
}
.color_menu:hover{
    color: red;
}
.ul_menu{
    list-style-type: none !important;
    display: inline;
}
.ul_menu_all{
    list-style-type: none !important;
    display: inline;
}
.ul_sub_menu{
    list-style-type: none !important;
    display: inline;
}
.position_finish{
    position: relative !important;
}
.display_menu{
    top: 52px;
    /*position: relative !important;*/
    z-index: 2;

    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.ul_style{
    background: white;
    width: 100%;
    display: inline;
}
.ul_sup{
    z-index: 3;
    padding-left: 5%;
    padding-right: 5%;
}
.li_style{
    padding: 18px 15px 17px;
    height: 50px;
    display: inline-table;
    margin: 0 !important;
    z-index: 2;
}
.li_sub_style{
    color: black;
    width: 129px;
    height: 115px;
    display: inline-table;
    z-index: 2;
}
.li_style_more{
    padding: 18px 15px 17px;
    height: 50px;
    display: inline-table;
    margin: 0 !important;
    z-index: 2;
}
.li_sub_style:hover{
    background: #ebe47d;
}
.li_style_more:hover{
    background: #ebe47d;
}
.img_sub {
    height: 32px;
    width: auto;
    display: flex;
    margin: 25px auto auto auto;
}
ul.ul_style{
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
ul.ul_sup{
    margin-bottom: 0 !important;
}
.sub_menu{
    width: 100%;
    background: #d3cd53;
    top: 108px;
    position: absolute;
    border-top: solid 1px darkgoldenrod;
    border-bottom: solid 1px darkgoldenrod;
    z-index: 2;
}
.sub_menu_all{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background: #d3cd53;
    top: 108px;
    position: absolute;
    border-top: solid 1px darkgoldenrod;
    border-bottom: solid 1px darkgoldenrod;
    z-index: 2;
}
/*.selected {*/
    /*float: right;*/
    /*!*position: absolute;*!*/
    /*right: 0px;*/
    /*top: 0px;*/
    /*background: #d3cd53;*/
    /*!*border: solid 1px darkgoldenrod;*!*/

    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 29px solid white;*/
    /*border-bottom: 29px solid white;*/
    /*border-right: 12px solid #d3cd53;*/
/*}*/
a:hover{
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.sub_menu_right{
    position: absolute;
    top: 38px;
    right: 0.5%;
}
.sub_menu_right:hover{
    background: #ebe47d;
}

