.color_menu{
    color: gray;
}
.color_menu:hover{
    color: red;
    text-shadow: 0px 2px 5px #ffd280;
}
.ul_menu{
    list-style-type: none !important;
    display: inline;
}
.ul_menu_all{
    list-style-type: none !important;
    display: inline;
}
.ul_sub_menu{
    list-style-type: none !important;
    display: inline;
}
.position_finish{
    position: relative !important;
}
.display_menu{
    top: 52px;
    /*position: relative !important;*/
    z-index: 2;

    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    width: 100%;
}
.ul_style{
    background: white;
    width: 100%;
    display: inline;
}
.ul_sup{
    z-index: 3;
    padding-left: 34px;
    padding-right: 34px;
    overflow: hidden;
    position: absolute;
    height: 113px;
}
.ul_more{
    z-index: 3;
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
}

.li_style{
    padding: 18px 15px 17px;
    height: 50px;
    display: inline-table;
    margin: 0 !important;
    z-index: 2;
}
.li_sub_style{
    color: black;
    width: 110px;
    height: 113px;
    display: inline-table;
    z-index: 2;
}
.li_style_more{
    padding: 18px 15px 17px;
    height: 50px;
    display: inline-table;
    margin: 0 !important;
    z-index: 2;
}
.li_sub_style:hover{
    /*background: #ebe47d;*/
    background-image: -ms-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: -moz-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: -o-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B8860B), color-stop(4, #FFC966), color-stop(96, #FFC966), color-stop(100, #B8860B));

    background-image: -webkit-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: linear-gradient(to bottom, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);
    z-index: 10;
}
.li_style_more:hover{
    /*background: #ebe47d;*/
    background-image: -ms-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: -moz-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: -o-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B8860B), color-stop(4, #FFC966), color-stop(96, #FFC966), color-stop(100, #B8860B));

    background-image: -webkit-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: linear-gradient(to bottom, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);
}
.img_sub {
    height: 32px;
    width: auto;
    display: flex;
    margin: 25px auto auto auto;
}
ul.ul_style{
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
ul.ul_sup, .ul_more{
    margin-bottom: 0 !important;
}
.sub_menu{
    width: 100%;
    /*background: #d3cd53;*/
    top: 107px;
    position: absolute;
    border-top: solid 1px darkgoldenrod;
    border-bottom: solid 1px darkgoldenrod;
    z-index: 3;
    height: 115px;
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B8860B), color-stop(4, #FFAF1A), color-stop(96, #ffaf1a), color-stop(100, #B8860B));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);
}
.sub_menu_all{
    width: 100%;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    /*background: #d3cd53;*/
    top: 108px;
    position: absolute;
    border-top: solid 1px darkgoldenrod;
    border-bottom: solid 1px darkgoldenrod;
    z-index: 2;
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B8860B), color-stop(4, #FFAF1A), color-stop(96, #ffaf1a), color-stop(100, #B8860B));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);
}

a:hover{
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.sub_menu_right{
    position: absolute;
    top: 38px;
    right: 2px;
}
.sub_menu_left{
    position: absolute;
    left: 0;
    z-index: 5;
}
.sub_menu_left_style{
    /*background: #d3cd53;*/
    width: 32px;
    height: 113px;
    z-index: 100;
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B8860B), color-stop(4, #FFAF1A), color-stop(96, #ffaf1a), color-stop(100, #B8860B));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, #B8860B 0%, #FFAF1A 4%, #ffaf1a 96%, #B8860B 100%);
}
.menu_left_right{
    font-size: 32px;
    color: black;
}
.sub_menu_right:hover{
    /*background: #ebe47d;*/
    background-image: -ms-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: -moz-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: -o-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B8860B), color-stop(4, #FFC966), color-stop(96, #FFC966), color-stop(100, #B8860B));

    background-image: -webkit-linear-gradient(top, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);

    background-image: linear-gradient(to bottom, #B8860B 0%, #FFC966 4%, #FFC966 96%, #B8860B 100%);
}
.pointer {
    position: absolute;
    top: 96px;
    width: 0;
    height: 0;
    border-bottom: 18px solid #FFAF1A;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 4;
}
.pointer_main{
    position: absolute;
    top: 92px;
    width: 0;
    height: 0;
    border-bottom: 18px solid #B8860B;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 3;
}

